@charset "utf-8";
.main .wrap1000 .steps .step-text{display:-webkit-box;display:-ms-flexbox;width:100%}
.main{background:url(./main.png) no-repeat;min-height:100%;background-size:cover}
.main img{max-width:100%}
.main .wrap1200{height:100%;max-width:1200px;margin:auto}
.main .wrap1000{height:100%;max-width:1000px;margin:auto}
.main .wrap1000 .video img{margin:10% 0 6%}
.main .wrap1000 .video video{width:100%;height:100%}
.main .wrap1000 .video .video-list{display:-webkit-box;display:-ms-flexbox;display:flex;-ms-flex-wrap:wrap;flex-wrap:wrap;padding-bottom:4%}
.main .wrap1000 .video .video-list .item{-ms-flex-preferred-size:48%;flex-basis:48%;position:relative;margin-top:4%}
.main .wrap1000 .video .video-list .item:nth-child(even){margin-left:4%}
@media screen and (max-width:740px){
	.main .wrap1200 .invite-box .invite-text{color:#cfbbf8;font-size:12px;left:12%}
	.main .wrap1000 .steps .step-text{font-size:14px}
	.main .wrap1000 .video .video-list .item{-ms-flex-preferred-size:100%;flex-basis:100%;position:relative;margin-top:4%}
	.main .wrap1000 .video .video-list .item:nth-child(even){margin-left:0}
}
@media screen and (max-width:870px){
	.main .wrap1000 .invite .nick-name .result{max-width:300px}
}
@media screen and (max-width:670px){
	.main .wrap1000 .invite .invite-btn{position:absolute;left:calc(35%);bottom:30px;top:unset;right:unset}
	.main .wrap1000 .steps .step-text span{font-size:12px}
}